<section class="content">
  <div class="card align-items-left p-25">

    <!--Foto Cliente-->
    <div class="row">
      <div class="col-7 offset-5">
        <img src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-circle-512.png" alt="" style="width: 150px; height: 150px;">
      </div>
    </div>


    <!--Botones Editar Comprar-->

    <div class="row mt-5">
      <div class=".col-7 offset-5">
        <button class="btn btn-success">Editar</button>
      </div>
      <div class="col-3">
        <button class="btn btn-success">Comprar</button>
      </div>
    </div>

    <!--Nombre Cliente-->
    <div class="row" style="font-size: 20px">
      <div class="col-3 mr-0 pr-0" style="margin-left: 31%">
        <div><kbd class="bg-primary">Nombre</kbd></div>
        <div><kbd class="bg-primary" >Apellido Paterno</kbd></div>
        <div><kbd class="bg-primary">Apellido Materno</kbd></div>
        <div><kbd class="bg-primary">RFC</kbd></div>
      </div>
      <div class="col-3 ml-0 pl-0">
        <div>Nombre</div>
        <div>Apellido Paterno</div>
        <div>Apellido Materno</div>
        <div>RFC</div>
      </div>
    </div>

    <div class="alert alert-info mt-5" role="alert">
      El comprobante de domicilio aun es valido
    </div>

  </div>
</section>