<section class="content">

    <div class="card p-25 mr-5" style="height: 80vh">
    <div class="row">

        <!--Buscador y Tabla Usuarios-->
        <div class="col-8">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar Usuario" #busqueda
                       (ngModelChange)="searchUsuario(busqueda.value)">
                <i class="form-group__bar"></i>
            </div>
            <div class="tableHeigh">
                <perfect-scrollbar>
                    <table class="table mb-3 mt-3">
                        <thead class="thead-default">
                        <tr>
                            <th>Usuario</th>
                            <th>Tipo</th>
                            <th>Editar</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let usuario of usuariosTemporal">
                            <td>{{ usuario.email }}</td>
                            <td>{{ usuario.tipo }}</td>
                            <td>
                                <button class="btn btn-success"
                                        (click)="sendUsuarioToEdit(usuario.email, usuario.contrasenia, usuario.tipo, usuario.$key)">
                                    Editar
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </perfect-scrollbar>
            </div>

        </div>
        <!--Agregar/Editar Usuarios-->
        <div class="col-4 mx-auto p-5">
            <h3 class="text-center">Agregar / Editar </h3>
            <div class="card">
                <div class="form-group mt-5">
                    <input type="email" class="form-control" placeholder="Email"
                           [(ngModel)]="nombreUsuarioEditar">
                    <i class="form-group__bar"></i>
                </div>

                <div class="form-group mt-5">
                    <input type="password" class="form-control" placeholder="Contraseña"
                           [(ngModel)]="contraseniaUsuarioEditar">
                    <i class="form-group__bar"></i>
                </div>
                <select class="form-control" [(ngModel)]="tipoUsuarioEditar">
                    <option value="" disabled selected>Seleccionar tipo de usuario</option>
                    <option value="normal">Normal</option>
                    <option value="admin">Admin</option>
                </select>
                <button class="btn btn-success" *ngIf="usuarioKey == null" (click)="addUsuario()">Agregar
                    Producto
                </button>
                <button class="btn btn-success" *ngIf="usuarioKey != null" (click)="finishUserEdit()">
                    Editar Producto
                </button>
            </div>

        </div>
       </div>
     </div>
</section>