<section class="content">

    <div class="card p-25 mr-5" style="height: 80vh">

        <div class="row">

            <!--Buscador y Tabla Precios-->
            <div class="col-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar Producto">
                    <i class="form-group__bar"></i>
                </div>


                <table class="table mb-3 mt-3">
                    <thead class="thead-default">
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Editar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Cobre</td>
                        <td>6.00</td>
                        <td>
                            <button class="btn btn-success">Editar</button>
                        </td>
                    </tr>
                    </tbody>
                </table>


            </div>

            <!--Zona Edicion Precios-->
            <div class="col-6 mx-auto p-5">
                <h3 class="text-center">Agregar / Editar Productos</h3>
                <div class="card">
                    <div class="form-group mt-5">
                        <input type="text" class="form-control" placeholder="Nombre Producto">
                        <i class="form-group__bar"></i>
                    </div>

                    <div class="form-group mt-5">
                        <input type="text" class="form-control" placeholder="Precio Producto">
                        <i class="form-group__bar"></i>
                    </div>

                    <button class="btn btn-success">Agregar/Editar</button>
                </div>


            </div>

        </div>

    </div>

</section>
