<div _ngcontent-c5="" class="card">
        <div _ngcontent-c5="" class="card-body">

            <h3 _ngcontent-c5="" class="card-body__title">Registro del Cliente</h3>

            <br _ngcontent-c5="">

            <div _ngcontent-c5="" class="row">
                <div _ngcontent-c5="" class="col-sm-6">
                    <div _ngcontent-c5="" class="input-group">
                        <div _ngcontent-c5="" class="form-group">
                            <input _ngcontent-c5="" class="form-control" placeholder="Nombres" type="text">
                            <i _ngcontent-c5="" class="form-group__bar"></i>
                        </div>
                    </div>

                    <div _ngcontent-c5="" class="input-group">
                        <div _ngcontent-c5="" class="form-group">
                            <input _ngcontent-c5="" class="form-control" placeholder="Apellido Paterno" type="text">
                            <i _ngcontent-c5="" class="form-group__bar"></i>
                        </div>
                    </div>

                    <div _ngcontent-c5="" class="input-group">
                        <div _ngcontent-c5="" class="form-group">
                            <input _ngcontent-c5="" class="form-control" placeholder="Apellido Materno" type="text">
                            <i _ngcontent-c5="" class="form-group__bar"></i>
                        </div>
                    </div>

                    <div _ngcontent-c5="" class="input-group">
                        <div _ngcontent-c5="" class="form-group">
                            <input _ngcontent-c5="" class="form-control" placeholder="RFC" type="text">
                            <i _ngcontent-c5="" class="form-group__bar"></i>
                        </div>
                    </div>
                  <button _ngcontent-c18="" class="btn btn-secondary btn--icon-text">
                  <i _ngcontent-c18="" class="zmdi zmdi-search"></i> Consulta
                  </button>

              <!--_______________________Drag And Drop Identificacion oficial____________________________________-->
                    <div _ngcontent-c5="" class="card">
                      <div _ngcontent-c5="" class="card-body">
                        <h4 _ngcontent-c5="" class="card-title">Identificacion oficial</h4>

                        <form _ngcontent-c5="" class="dropzone dz-clickable ng-untouched ng-pristine ng-valid" dropzone="" novalidate="" ng-reflect-posturl="dropzonePostUrl">
                          <div class="dz-default dz-messagse">
                            <span>Arrastra Aqui Tu Archivo</span>
                          </div>
                        </form>
                      </div>
                    </div>
              <!--_______________________Fin Del Drag And Drop Identificacion oficial____________________________________-->
              <!--_______________________Drag And Drop Comprobante de Dom ___________________________________-->
                    <div _ngcontent-c5="" class="card">
                      <div _ngcontent-c5="" class="card-body">
                        <h5 _ngcontent-c5="" class="card-title">Comprobante de Domicilio</h5>

                        <form _ngcontent-c5="" class="dropzone dz-clickable ng-untouched ng-pristine ng-valid" dropzone="" novalidate="" ng-reflect-posturl="dropzonePostUrl">
                          <div class="dz-default dz-message">
                            <span>Arrastra Aqui Tu Archivo</span>
                          </div>
                        </form>
                      </div>
                    </div>
              <!--_______________________Fin Del Drag And Drop Comprobante de Dom ___________________________________-->

              <!--_______________________Seleccion del Mes___________________________________-->
                    <div _ngcontent-c5="" class="col-md-4">
                      <div _ngcontent-c5="" class="form-group">
                          <select tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
                          <option value="">Seleccione Mes</option>
                          <option value="2">Enero</option>
                          <option value="3">Febrero</option>
                          <option value="4">Marzo</option>
                          <option value="5">Abril</option>
                          <option value="6">Mayo</option>
                          <option value="7">Junio</option>
                          <option value="8">Julio</option>
                          <option value="9">Agosto</option>
                          <option value="10">Septiembre</option>
                          <option value="11">Octubre</option>
                          <option value="12">Noviembre</option>
                          </select>
                          <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;">
                            <span class="selection">
                            <span class="select2-selection select2-selection--single select2-selection--alt" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-kbva-container">
                            <span class="select2-selection__arrow" role="presentation">
                            <b role="presentation"></b>
                            </span>
                            </span>
                          </span>
                          <span class="dropdown-wrapper" aria-hidden="true"></span>
                        </span>

                      </div>
                    </div>
          <!--_______________________Fin de Seleccion del Mes____________________________________-->

          <!--_______________________Escanear Huella____________________________________-->
          <div _ngcontent-c5="" class="card">
            <div _ngcontent-c5="" class="card-body">
            <h4 _ngcontent-c5="" class="card-title">Escanear Huella</h4>
            </div>
          </div>
          <!--_______________________Fin de Escanear Huella____________________________________-->

          <!--_______________________Drag And Drop Foto___________________________________-->
                    <div _ngcontent-c5="" class="card">
                      <div _ngcontent-c5="" class="card-body">
                        <h6 _ngcontent-c5="" class="card-title">Foto Del Cliente</h6>

                        <form _ngcontent-c5="" class="dropzone dz-clickable ng-untouched ng-pristine ng-valid" dropzone="" novalidate="" ng-reflect-posturl="dropzonePostUrl">
                          <div class="dz-default dz-message">
                            <span>Arrastra Aqui Tu Archivo</span>
                          </div>
                        </form>
                      </div>
                    </div>
            <!--_______________________Fin del Drag And Drop Foto___________________________________-->
                    <br _ngcontent-c5="">


                    </div>
                </div>
                    <button _ngcontent-c18="" class="btn btn-primary" type="button">Guardar Datos</button>
                    </div>
