<section class="content">

    <div class="card p-25 mr-5" style="height: 80vh" >
        <div class="row mx-auto" style="width: 60%">
            <!--Buscador-->
            <div class="col-7" >
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar Cliente" [(ngModel)]="busqueda" (ngModelChange)="searchClient(busqueda)">
                    <i class="form-group__bar" ></i>
                </div>
            </div>

            <!--Boton Agregar Cliente-->
            <div class="col-5">
                <button type="button" class="btn btn-success" (click)="sendToNewClient()">Agregar Cliente</button>

            </div>


        </div>

        <div class="row cardheigh" >

            <div class="col-12">
                <perfect-scrollbar>
                <table class="table w-100" >
                    <thead class="thead-default">
                    <tr>
                        <th>Nombre</th>
                        <th>Foto</th>
                        <th>Comprar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let cliente of clientesTemporal">
                        <td>{{cliente.nombre}} {{cliente.apellidoPaterno}} {{cliente.apellidoMaterno}}</td>
                        <td><img src="{{cliente.fotoUrl}}" style="width: 50px; height: 50px" alt=""></td>
                        <td>
                            <button type="button" class="btn btn-success" (click)="sendToClient(cliente.$key)">Comprar</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </perfect-scrollbar>
            </div>

        </div>

    </div>

</section>
