<section class="content">
    <div class="card p-25 mr-5">
        <div class="row mx-auto" style="width: 60%">
            <!--Buscador-->
            <div class="col-7" >
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar Cliente">
                    <i class="form-group__bar" [routerLink]="['registroCliente']"></i>
                </div>
            </div>

            <!--Boton Agregar Cliente-->
            <div class="col-5">
                <button type="button" class="btn btn-success">Agregar Cliente</button>
            </div>


        </div>

        <div class="row">
            <div class="col-12">

                <table class="table w-100">
                    <thead class="thead-default">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Foto</th>
                        <th>Comprar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Carlos Perez</td>
                        <td>Otto</td>
                        <td>
                            <button type="button" class="btn btn-success">Comprar</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Carlos Perez</td>
                        <td>Otto</td>
                        <td>
                            <button type="button" class="btn btn-success">Comprar</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Carlos Perez</td>
                        <td>Otto</td>
                        <td>
                            <button type="button" class="btn btn-success">Comprar</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>

</section>
