.generar{
  margin: 20px 20px 20px 20px;
}

[required]{
  box-shadow: 0 0 10px 1px red;
}


.d1:hover{
  box-shadow: 1px 1px 1px 1px gray;
}
.d1{
  margin-top: 20px;
  margin-left: 20px;
  width: 30%;
  float: left;
  text-align: left;
}

.d2:hover{
  box-shadow: 1px 1px 1px 1px gray;
}
.d2{
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 10px;
  width: 30%;
  display: inline-block;
  float: left;
  text-align: left;
}
.mes{
  margin: 10px 100px 10px 10px;
  width: 10%;
  float: right;
  text-align: right;
}
.subir{
  margin-bottom: 30px;
  margin-left: 20px;
}
