<section class="content">
  <h3>Registro del Cliente</h3>
<div class="card">

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group form-group--float">
        <input type="text" class="form-control" formControlFloat required>
        <label>Nombres</label>
        <i class="form-group__bar"></i>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group form-group--float">
        <input type="text" class="form-control" formControlFloat required>
        <label>Apellido Paterno</label>
        <i class="form-group__bar"></i>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group form-group--float">
        <input type="text" class="form-control" formControlFloat required>
        <label>Apellido Materno</label>
        <i class="form-group__bar"></i>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group form-group--float">
          <input type="text" class="form-control" formControlFloat required>
          <label>RFC</label>
          <i class="form-group__bar"></i>
        </div>
      </div>
      <div class="Row generar">
        <a class="btn btn-light" href="https://www.mi-rfc.com.mx/consulta-rfc-homoclave" target="_blank" role="button">Generar</a>
      </div>
    </div>
<div class="dd">
  <div class="card d1">
          <h4 class="card-title">Identificacion Oficial</h4>
          <input type="file" name="archivo" value="arch">
    </div>
      <div class="d2">
          <h4 class="card-title">Comprobante De Domicilio</h4>
          <input type="file" name="archivo" value="arch">
    </div>
  </div>
  <div class="mes">
    <div class="form-group form-group--select">
      <select class="form-control" Enabled>
        <option>Selecciona El Mes</option><option>Enero</option><option>Febrero</option><option>Marzo</option>
        <option>Abril</option><option>Mayo</option><option>Junio</option><option>Julio</option>
        <option>Agosto</option><option>Septiembre</option><option>Octubre</option>
        <option>Noviembre</option><option>Diciembre</option>
      </select>
    </div>
  </div>
    <div class="subir">
      <button type="button" class="btn btn-success btn-lg">Huella</button>
      <button type="button" class="btn btn-success btn-lg">Huella</button>
      <div class="btn-group foto" dropdown>
        <button dropdownToggle type="button" class="btn btn-light">Foto</button>
        <div *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" href="#">Subir Foto</a>
          <a class="dropdown-item" href="#">Tomar Foto</a>
        </div>
      </div>
    </div>
  <button type="button" class="btn btn-success">Guardar Datos</button>
</div>

</section>
