<section class="content">

    <div class="card p-25 mr-5" style="height: 80vh">

        <div class="row">

            <!--Tabla Productos-->
            <div class="col-8">
                <div class="tableHeigh">
                    <perfect-scrollbar>
                        <table class="table mb-3 mt-3">
                            <thead class="thead-default">
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Total</th>
                                <th>Opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let producto of productos; let i = index">
                                <td>{{producto.nombre}}</td>
                                <td>{{producto.cantidad}}</td>
                                <td>{{producto.precio}}</td>
                                <td>{{producto.total}}</td>
                                <td>
                                    <button class="btn btn-success" (click)="sendProductToEdit(i)">Editar</button>
                                    <button class="btn btn-danger" (click)="deleteProducto(i)">Eliminar</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </perfect-scrollbar>
                </div>

                <div class="text-center">
                    <h4>Total: {{total}}</h4>
                    <button class="btn btn-success" (click)="finishSell()">Finalizar Venta</button>
                </div>
            </div>

            <!--Zona Edicion / Adicion Productos-->
            <div class="col-4 mx-auto p-5">
                <h3 class="text-center">Agregar / Editar Productos</h3>
                <div>

                    <div class="form-group mt-4">
                        <input type="text" class="form-control form-control" placeholder="Nombre Producto"
                               [(ngModel)]="editableProduct.nombre">
                        <i class="form-group__bar"></i>
                    </div>

                    <label class="custom-control custom-radio">
                        <input type="radio" name="radio-inline" value="Kg" class="custom-control-input"
                               [(ngModel)]="editableProduct.unidad">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Kg</span>
                    </label>

                    <label class="custom-control custom-radio">
                        <input type="radio" name="radio-inline" value="Unidad" class="custom-control-input"
                               [(ngModel)]="editableProduct.unidad">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Unidad</span>
                    </label>
                    <div class="form-group">
                        <div class="input-group mt-3">
                            <button *ngIf="editableProduct.unidad == 'Kg'" class="btn btn-success">Bascula</button>
                            <input type="text" class="form-control form-control" placeholder=""
                                   [(ngModel)]="editableProduct.cantidad">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control form-control" placeholder="Precio"
                               [(ngModel)]="editableProduct.precio">
                        <i class="form-group__bar"></i>
                    </div>

                    <button class="btn btn-success" *ngIf="!editar" (click)="addNewProduct()">Agregar Producto</button>
                    <button class="btn btn-success" *ngIf="editar" (click)="finishEditProduct()">Finalizar Edicion
                    </button>
                </div>
            </div>

        </div>

    </div>

</section>

